:root {
  --primary-color: #FF5722;
  --dark-primary-color: #E64A19;
  --light-primary-color: #FFCCBC;
  --secondary-color: #009688;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
}

* {
  /* Reseteo del modelo de caja */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* poder usar el rem mas facilmente a base 10px */
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
}